/*** import colors att ***/
@import "colors.scss";

.root {
    background-color: $primaryColor;
    color: $textLightColor; 
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
}

//header
.custom-header {
    background-color: $secondaryColor;
}

//common
.jwt-decoder-content {
    margin: 2% 5%;
}

.jwt-decoder-content .title {
    color: $textBlueColor;
}

.custom-element {
    background: hsla(0,0%,100%,.08) !important;
    color: $textBlueColor !important;
}

.custom-content {
    background: hsla(0,0%,100%,.08) !important;
    color: $textLightColor !important;
    padding: 15px;
    margin-bottom: 0rem;
}

.json-resolver {
    width: 100%;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.8rem;
}

.error-boundary {
    background: rgba(122, 4, 4, 0.08) !important;
    color: $textBlueColor !important;
    border: 1.5px solid #ed1c24 !important;  
    color: #ed1c24 !important;  
}
