/*** import colors att ***/
@import "colors.scss";

.root {
    background-color: $primaryColor;
    color: $textLightColor; 
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
}

//header
.custom-header {
    background-color: $secondaryColor;
}

//jwt decoder
.jwt-decoder-content {
    margin: 2% 5%;
}

.jwt-decoder-content .title {
    color: $textBlueColor;
}


//common
.custom-element {
    background: hsla(0,0%,100%,.08) !important;
    color: $textBlueColor !important;
}

.custom-content {
    background: hsla(0,0%,100%,.08) !important;
    color: $textLightColor !important;
    padding: 15px;
    margin-bottom: 0rem;
}

.json-view {
    width: 100%;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.8rem;
  }
