/*** import colors att ***/
@import "colors.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


.root {
    background-color: $primaryColor;
    color: $lightTextColor; 
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
}

//header
.custom-header {
    background-color: $secondaryColor;
}


@media (prefers-reduced-motion: no-preference) {
    .jwt-logo {
        animation: app-logo infinite 10s linear;
    }
}

@keyframes app-logo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

//common
.jwt-decoder-content {
    margin: 2% 5%;
}

.jwt-decoder-content .title {
    color: $blueTextColor;
}

.custom-element {
    background: hsla(0,0%,100%,.08) !important;
    color: $lightTextColor !important;
}

.head-content {
    background: hsla(0,0%,100%,.08) !important;
    color: $blueTextColor !important;
}

.custom-content {
    background: hsla(0,0%,100%,.08) !important;
    color: $lightTextColor !important;
    padding: 15px;
    margin-bottom: 0rem;
}

.label-sufix {
    font-size: 12px;
    font-style: italic !important;
}

.json-resolver {
    width: 100%;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.8rem;
}

.error-boundary {
    background: rgba(122, 4, 4, 0.08) !important;
    border: 1.5px solid $redColor !important;  
    color: $redColor !important;  
}

footer {
    color: $lightTextColor;
    background-color: $secondaryColor;
}
